extends ./layout.jade

block content
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading Generate New Cards
        .panel-body
          .col-md-12
            button.btn.btn-primary Generate some new cards
    .col-md-12
      .panel.panel-default
        .panel-heading Recent Cards
        .panel-body
          .col-md-12= output
